.place__title {
  grid-area: title;
  margin: 0;
  padding: 0;
  min-width: 460px;
  min-height: 76px;
  /* typography */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}
