.photo-grid {
  padding: 92px 0 0;
  margin: 0 auto;
  max-width: calc((284px * 4) + (16px * 3));
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 16px 16px;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */
@media screen and (max-width: 1279px) {
  .photo-grid {
    max-width: calc((300px * 3) + (14px * 2));
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 14px 14px;
  }
}

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .photo-grid {
    max-width: calc((352px * 2) + 16px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 16px 16px;
  }
}
