.place__paragraphs {
  grid-area: paragraphs;
  margin: 0;
  padding: 0;
}


/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .place__paragraphs {
    padding: 2px 0 0;
  }
}
