.lead__title {
  max-width: 720px;
  min-height: 200px;
  text-align: center;
  margin: 0 auto;
  /* typography */
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.0; /* 100px / 96px */
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .lead__title {
    min-height: unset;
    max-width: unset;
    width: auto;
    margin: 0 16px;
    /* typography */
    font-size: 40px;
    line-height: 1.1; /* 44px / 40px */
  }
}
