.logo {
  max-width: 190px;
  max-height: 44px;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .logo {
    max-width: 156px;
    max-height: 36px;
  }
}
