.place__paragraph {
  /* note -- some inconsistency in margins (Erie, PA: 27px; Ohio: 29px; all others: 25px). Assume 25px for all. */
  margin: 25px 0 0;
  padding: 0;
  max-width: 484px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:nth-child(1) {
  margin: 0;
  max-width: 456px;
}
