.intro {
  padding-top: 114px;
  margin: 0 auto 0;
  max-width: 984px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.625; /* 26px / 16px */
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */
@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .intro {
    padding-top: 88px;
  }
}

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .intro {
    padding-top: 64px;
  }
}

