.website__url-heading {
  min-width: 456px;
  padding: 0;
  margin: 0;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7; /* 20px / 12px */
  letter-spacing: 0.2em;
  color: #AAAAAA;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .website__url-heading {
    min-width: unset;
    max-width: 352px;
    /* typography */
    line-height: 1.0; /* 12px / 12px */
  }
}

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .website__url-heading {
    margin: 0 16px;
    max-width: unset;
    width: auto;
  }
}
