.lead__subtitle {
  max-width: 620px;
  max-height: 72px;
  text-align: center;
  margin: 32px auto 64px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */
@media screen and (max-width: 1279px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

/* resolutions 768px to 1023px */

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .lead__subtitle {
    max-width: unset;
    width: auto;
    margin: 16px 16px 40px;
    /* typography */
    font-size: 16px;
    line-height: 20px;
  }
}
