.lead__subtitle {
  max-width: 620px;
  max-height: 72px;
  text-align: center;
  margin: 32px auto 64px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}
