.lead__caption {
  margin: 8px 0 0;
  min-width: 182px;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 1.4; /* 14px / 10px */
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

/* ----- MEDIA QUERIES ----- */


/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .lead__caption {
    margin: 8px 0 0 24px;
  }
}

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .lead__caption {
    margin: 8px 0 0 16px;
  }
}

