.cover__title {
  min-width: 656px;
  min-height: 76px;
  margin: 283px auto 0;
  text-align: center;
  text-decoration: none;
  /* typography */
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */
@media screen and (max-width: 1279px) {
  .cover__title {
    margin-top: 233px;
  }
}
