.website__link {
  min-width: 456px;
  min-height: 22px;
  padding: 0;
  margin: 4px 0 0;
  /* hover animation */
  opacity: 1;
  transition: opacity 1s ease-out;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.website__link:hover {
  opacity: 0.8;
}
