.website__link {
  min-width: 456px;
  min-height: 22px;
  padding: 0;
  margin: 4px 0 0;
  /* hover animation */
  opacity: 1;
  transition: opacity 1s ease-out;
  /* typography */
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #FFFFFF;
}

.website__link:hover {
  opacity: 0.8;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .website__link {
    min-width: unset;
    max-width: 352px;
  }
}

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .website__link {
    margin: 0 16px;
    max-width: unset;
    width: auto;
  }
}
