.photo-grid__image {
  min-width: 284px;
  min-height: 213px;
}

/* ----- MEDIA QUERIES ----- */

/* anything larger than max-width: 1280px, use defaults */

/* resolutions 1024px to 1279px */
@media screen and (max-width: 1279px) {
  .photo-grid__image {
    min-width: 300px;
    min-height: 225px;
  }
}

/* resolutions 768px to 1023px */
@media screen and (max-width: 1023px) {
  .photo-grid__image {
    min-width: 352px;
    min-height: 264px;
  }
}

/* resolutions less than 768px */
@media screen and (max-width: 767px) {
  .photo-grid__image {
    min-width: unset;
    max-width: 288px;
    min-height: unset;
    max-height: 216px;
  }
}
